.content {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

.products {
  display: flex;
}

.basket {
  text-align: left;
  max-width: 270px;
  float: right;
}

.basket-item {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.basket-remove {
  float: right;
  margin-top: 5px;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 5px;
  height: 30px;
  text-decoration: none;
  background: darkRed;
}

.basket-remove:hover {
  opacity: 0.9;
}
